<ul class="nav navbar-right unselectable" style="padding-right: 30px">
    <li class="unselectable" style="display:inline-block; margin-left: 15px">
        <p class="navbar-text" style="margin-left: 0; margin-right: 0; padding-top: 1px;">
            <span><i style="cursor: pointer" data-locale="vi" data-url="{{ route('user.lang', {'locale':'vi'}) }}" class="glyphicon bfh-flag-VN lang-vi locale" title="{{ trans('message.partials.lang.vi') }}"></i></span>
        </p>
    </li>
    <li class="unselectable" style="display:inline-block;">
        <p class="navbar-text" style="margin-left: 0; margin-right: 0; padding-top: 1px;">
            <span><i style="cursor: pointer" data-locale="de" data-url="{{ route('user.lang', {'locale':'de'}) }}" class="glyphicon bfh-flag-DE lang-de locale" title="{{ trans('message.partials.lang.de') }}"></i></span>
        </p>
    </li>
    <li class="unselectable" style="display:inline-block;">
        <p class="navbar-text" style="margin-left: 0; margin-right: 0; padding-top: 1px;">
            <span><i style="cursor: pointer" data-locale="en" data-url="{{ route('user.lang', {'locale':'en'}) }}" class="glyphicon bfh-flag-GB lang-en locale" title="{{ trans('message.partials.lang.en') }}"></i></span>
        </p>
    </li>
</ul>
